.App {
    height: 100%
}

.appPreloader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.appPreloader img {
    transform: scale(0.2);
}
